<model>
    <mount>//OPNsense/frp/acl</mount>
    <description>FRP Tunnel ACL</description>
    <items>
        <ACL>
            <page-services-frp>
                <name>FRP Tunnel</name>
                <patterns>
                    <pattern>ui/frp/*</pattern>
                    <pattern>api/frp/*</pattern>
                </patterns>
            </page-services-frp>
        </ACL>
    </items>
</model>
